<!-- <div class="success" ng-show="message.containsSuccessfulMessage">
	<h3>{{message.successfulMessage}}</h3>
</div> -->

<div class="alert alert-success" ng-show="message.containsSuccessfulMessage">
	<h3>{{message.successfulMessage}}</h3>
</div>